body, html
{
margin: 0;
height:100%; 
}


.parallax{
  background-image: url('../images/background.gif');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.parallax2{
  background-image: url('../images/background.gif');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:20px;
}